$--radio-background-color-checked: #3E7BFA;
$--radio-border-color: #3E7BFA;
$--radio-background-color-disabled-checked: rgba(62, 123, 250, 0.4);
$--radio-border-color-disabled: rgba(62, 123, 250, 0.4);
$--radio-checkmark-color: #FFF;

.RadioLabel {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 18px;
  font-size: 14px;

  &:focus-visible {
    outline: none;
  }

  &--small {
    padding-left: 22px;
    height: 14px;
    font-size: 12px;
  }

  &--large {
    padding-left: 28px;
    height: 22px;
    font-size: 16px;
  }

  &--disabled {
    pointer-events: none;
  }

  .CheckmarkRadio {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: $--radio-checkmark-color;
    margin: 0 4px;
    border: 1px solid $--radio-border-color;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 4px;
      width: 6px;
      height: 6px;
      border: 1px solid $--radio-checkmark-color;
      border-radius: 50%;
      background-color: $--radio-checkmark-color;
    }

    &--small {
      height: 14px;
      width: 14px;

      &::after {
        left: 3px;
        top: 3px;
        width: 4px;
        height: 4px;
      }
    }

    &--large {
      height: 22px;
      width: 22px;

      &::after {
        left: 5px;
        top: 5px;
        width: 8px;
        height: 8px;
      }
    }

    &--disabled {
      border: 1px solid $--radio-border-color-disabled;
    }
  }

  .Radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked~.CheckmarkRadio::after {
      display: block;
    }
  }

  & input:checked~.CheckmarkRadio {
    background-color: $--radio-background-color-checked;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  & input:checked:disabled~.CheckmarkRadio {
    background-color: $--radio-background-color-disabled-checked;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
