.InputWrapper {
  display: inline-block;
  position: relative;
  height: fit-content;

  .Input {
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    padding: 0 8px;
    height: 32px;
    font-size: 14px;

    &::placeholder {
      color: var(--input-placeholder-color);
    }

    ~ .Icon {
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;

      &--prefix {
        left: 8px;
      }

      path {
        stroke: var(--input-icon-color);
      }

      &--clearable {
        right: 8px;
        cursor: pointer;
      }
    }

    &--invalid {
      border: 1px solid var(--input-border-color-invalid);
      outline: none;

      ~ .Icon {
        path {
          stroke: var(--input-icon-color-invalid);
        }
      }
    }

    &:focus {
      border: 1px solid var(--input-border-color-active);
      outline: none;

      ~ .Icon {
        path {
          stroke: var(--input-icon-color-active);
        }
      }
    }

    &--small {
      height: 24px;
      font-size: 12px;

      &.Input--withIcon {
        padding-left: 24px;
      }

      &.Input--clearable {
        padding-right: 24px;
      }
    }

    &--large {
      height: 40px;
      font-size: 16px;

      &.Input--withIcon {
        padding-left: 32px;
      }

      &.Input--clearable {
        padding-right: 32px;
      }
    }

    &--disabled {
      background-color: var(--input-background-color-disabled);
      border: 1px solid var(--input-border-color-disabled);

      ~ .Icon--clearable {
        pointer-events: none;
      }

      &::placeholder {
        color: var(--input-placeholder-color-disabled);
      }
    }

    &--withIcon {
      padding-left: 28px;
    }

    &--clearable {
      padding-right: 28px;
    }
  }
}
