$--input-border-color: #EAEAEC;
$--input-placeholder-color: #A6A7BA;

$--input-border-color-active: #3E7BFA;
$--input-border-color-invalid: #FE7374;

$--input-background-color-disabled: #F1F2F5;
$--input-border-color-disabled: #F3F3F5;
$--input-placeholder-color-disabled: #A5A6B9;

$--input-icon-color: #A6A7BA;
$--input-icon-color-invalid: #FE7374;
$--input-icon-color-active: #3E7BFA;

.InputWrapper {
  display: inline-block;
  position: relative;
  height: fit-content;

  .Input {
    border: 1px solid $--input-border-color;
    border-radius: 4px;
    padding: 0 8px;
    height: 32px;
    font-size: 14px;

    &::placeholder {
      color: $--input-placeholder-color;
    }


    &:focus {
      border: 1px solid $--input-border-color-active;
      outline: none;

      ~.Icon {
        path {
          stroke: $--input-icon-color-active;
        }
      }
    }

    &--invalid {
      border: 1px solid $--input-border-color-invalid;
      outline: none;

      ~.Icon {
        path {
          stroke: $--input-icon-color-invalid;
        }
      }
    }

    &--small {
      height: 24px;
      font-size: 12px;

      &.Input--withIcon {
        padding-left: 24px;
      }

      &.Input--clearable {
        padding-right: 24px;
      }
    }

    &--large {
      height: 40px;
      font-size: 16px;

      &.Input--withIcon {
        padding-left: 32px;
      }

      &.Input--clearable {
        padding-right: 32px;
      }
    }

    &--disabled {
      background-color: $--input-background-color-disabled;
      border: 1px solid $--input-border-color-disabled;

      ~.Icon--clearable {
        pointer-events: none;
      }

      &::placeholder {
        color: $--input-placeholder-color-disabled;
      }
    }

    &--withIcon {
      padding-left: 28px;
    }

    &--clearable {
      padding-right: 28px;
    }
  }

  .Icon {
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 0;

    &--prefix {
      left: 8px;
    }

    path {
      stroke: $--input-icon-color;
    }

    &--clearable {
      right: 8px;
      cursor: pointer;
    }
  }
}