.Button {
  border: 1px solid var(--button-primary-background);
  border-radius: 4px;
  color: var(--button-primary-text-color);
  padding: 0 24px;
  height: 32px;
  font-size: 14px;
  background-color: var(--button-primary-background);
  cursor: pointer;

  &:hover {
    background-color: var(--button-primary-background-hover);
    border-color: var(--button-primary-border-hover-color);
  }

  &:active {
    background-color: var(--button-primary-background-active);
    border-color: var(--button-primary-border-active-color);
  }

  &.Button--small {
    height: 24px;
    font-size: 12px;
  }

  &.Button--large {
    height: 40px;
    font-size: 16px;
  }

  &.Button--secondary {
    background-color: var(--button-secondary-background);
    color: var(--button-secondary-text-color);
    border-color: var(--button-secondary-border-color);

    &:hover {
      background-color: var(--button-secondary-background-hover);
    }

    &:active {
      background-color: var(--button-secondary-background-active);
    }
  }

  &.Button--disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
