/* stylelint-disable no-descending-specificity */
.Button {
  border: 1px solid var(--button-primary-background);
  border-radius: 4px;
  color: var(--button-primary-text-color);
  padding: 0 24px;
  height: 32px;
  font-size: 14px;
  background-color: var(--button-primary-background);
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  svg {
    width: 14px;
    height: 14px;

    path {
      stroke: var(--button-primary-text-color);
    }
  }

  &:hover {
    background-color: var(--button-primary-background-hover);
    border-color: var(--button-primary-border-hover-color);
  }

  &:active {
    background-color: var(--button-primary-background-active);
    border-color: var(--button-primary-border-active-color);
  }

  &.Button--disabled {
    opacity: 0.4;
    pointer-events: none;

    svg {
      circle {
        stroke: var(--button-primary-text-color);
      }
    }
  }

  &.Button--small {
    height: 24px;
    font-size: 12px;
    gap: 4px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &.Button--large {
    height: 40px;
    font-size: 16px;
    gap: 8px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.Button--secondary {
    background-color: var(--button-secondary-background);
    color: var(--button-secondary-text-color);
    border-color: var(--button-secondary-border-color);

    svg {
      path {
        stroke: var(--button-secondary-text-color);
      }
    }

    &.Button--disabled {
      svg {
        circle {
          stroke: var(--button-secondary-text-color);
        }
      }
    }

    &:hover {
      background-color: var(--button-secondary-background-hover);
    }

    &:active {
      background-color: var(--button-secondary-background-active);
    }
  }

  &.Button--ghost {
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--button-ghost-text-color);

    svg {
      path {
        stroke: var(--button-ghost-text-color);
      }
    }

    &.Button--disabled {
      svg {
        circle {
          stroke: var(--button-ghost-text-color);
        }
      }
    }

    &:hover {
      color: var(--button-ghost-text-color-hover);

      svg {
        path {
          stroke: var(--button-ghost-text-color-hover);
        }
      }
    }
  }

  .loadingWrapper {
    display: flex;
    align-items: center;
    gap: 4px;

    .loadingText {
      margin: 0;
    }
  }
}
