:root {
  //variables for button component
  --button-primary-background: #3e7bfa;
  --button-primary-border-color: #3e7bfa;
  --button-primary-background-hover: #386fe1;
  --button-primary-border-hover-color: #386fe1;
  --button-primary-background-active: #3569d4;
  --button-primary-border-active-color: #3569d4;
  --button-primary-text-color: #f9fbff;
  --button-secondary-background: #f3f8ff;
  --button-secondary-background-hover: #e7f1ff;
  --button-secondary-background-active: #dbeaff;
  --button-secondary-text-color: #3e7bfa;
  --button-secondary-border-color: #3e7bfa;
  --button-ghost-text-color: #3e7bfa;
  --button-ghost-text-color-hover: #386fe1;

  //variables for button checkbox component
  --checkbox-background-color-checked: #3e7bfa;
  --checkbox-border-color: #3e7bfa;
  --checkbox-background-color-disabled-checked: rgba(62, 123, 250, 0.4);
  --checkbox-border-color-disabled: rgba(62, 123, 250, 0.4);
  --checkbox-checkmark-color: #fff;

  //variables for button input component
  --input-border-color: #eaeaec;
  --input-placeholder-color: #a6a7ba;
  --input-border-color-active: #3e7bfa;
  --input-border-color-invalid: #fe7374;
  --input-background-color-disabled: #f1f2f5;
  --input-border-color-disabled: #f3f3f5;
  --input-placeholder-color-disabled: #a5a6b9;
  --input-icon-color: #a6a7ba;
  --input-icon-color-invalid: #fe7374;
  --input-icon-color-active: #3e7bfa;

  //variables for button modal component
  --modal-overlay-background-color: #a5a6b985;
  --modal-background-color: #fff;

  //variables for  sidebar component
  --sidebar-overlay-background-color: #a5a6b985;
  --sidebar-background-color: #fff;

  //variables for button radio component
  --radio-background-color-checked: #3e7bfa;
  --radio-border-color: #3e7bfa;
  --radio-background-color-disabled-checked: rgba(62, 123, 250, 0.4);
  --radio-border-color-disabled: rgba(62, 123, 250, 0.4);
  --radio-checkmark-color: #fff;

  //variables for select component
  --select-hover-text-color: #fff;
  --select-hover-background-color: #3e7bfa;
  --select-background-color: #fff;

  //variables for table
  --table-border-color: #a5a6b985;
  --table-hovered-row-background: #fafafa;
  --table-header-cell-background: #fff;
  --table-cell-background: #fff;
}
