.Modal {
    margin: 0 auto;
    max-width: 700px;
    max-height: fit-content;
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}