.CheckboxLabel {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 18px;
  font-size: 14px;

  &:focus-visible {
    outline: none;
  }

  &--small {
    padding-left: 22px;
    height: 14px;
    font-size: 12px;
  }

  &--large {
    padding-left: 28px;
    height: 22px;
    font-size: 16px;
  }

  &--disabled {
    pointer-events: none;
  }

  .Checkmark {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: var(--checkbox-checkmark-color);
    margin: 0 4px;
    border: 1px solid var(--checkbox-background-color-checked);
    border-radius: 4px;

    &::after {
      content: '';
      position: absolute;
      display: none;
      top: 15%;
      left: 32%;
      width: 4px;
      height: 8px;
      border: solid var(--checkbox-checkmark-color);
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &--small {
      height: 14px;
      width: 14px;

      &::after {
        top: 11%;
        left: 31%;
        width: 4px;
        height: 6px;
      }
    }

    &--large {
      height: 22px;
      width: 22px;

      &::after {
        top: 5%;
        left: 33%;
        width: 6px;
        height: 12px;
      }
    }

    &--disabled {
      border: 1px solid var(--checkbox-border-color-disabled);
    }
  }

  .Checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .Checkmark::after {
      display: block;
    }
  }

  &:hover input ~ .Checkmark {
    background-color: var(--checkbox-checkmark-color);
  }

  & input:checked ~ .Checkmark {
    background-color: var(--checkbox-background-color-checked);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  & input:checked:disabled ~ .Checkmark {
    background-color: var(--checkbox-background-color-disabled-checked);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
