$--checkbox-background-color-checked: #3E7BFA;
$--checkbox-border-color: #3E7BFA;

.CheckboxLabel {
  line-height: 16px;

  &:focus-visible {
    outline: none;
  }

  &--small {
    line-height: 14px;
  }

  &--large {
    line-height: 20px;
  }

  .Checkbox {
    cursor: pointer;
    margin: 0 4px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;

    &[type=checkbox] {
      border: 1px solid $--checkbox-border-color;
      border-radius: 4px;

      &.Checkbox--disabled {
        appearance: checkbox;
        -webkit-appearance: checkbox;
      }
    }

    &[type=checkbox]:checked {
      appearance: checkbox;
      -webkit-appearance: checkbox;
      accent-color: $--checkbox-background-color-checked;
    }

    +.checkboxLabelText {
      font-size: 14px;
      vertical-align: middle;
    }

    &--disabled {
      pointer-events: none;
    }

    &--small {
      height: 14px;
      width: 14px;

      +.checkboxLabelText {
        font-size: 12px;
      }
    }

    &--large {
      height: 20px;
      width: 20px;

      +.checkboxLabelText {
        font-size: 16px;
      }
    }
  }
}
