@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes scale-out-hor-left {
  0% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes scale-in-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes scale-out-hor-right {
  0% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes fade-in-overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-overlay {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.SidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--sidebar-overlay-background-color);

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--In {
    animation: fade-in-overlay 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  &--Out {
    animation: fade-out-overlay 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .Sidebar {
    margin: 0;
    max-height: fit-content;
    background-color: var(--sidebar-background-color);
    padding: 16px;
    border-radius: 4px;

    &--left {
      &.Sidebar--In {
        animation: scale-in-hor-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }

      &.Sidebar--Out {
        animation: scale-out-hor-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }

    &--right {
      &.Sidebar--In {
        animation: scale-in-hor-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }

      &.Sidebar--Out {
        animation: scale-out-hor-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }
  }
}
